@import url(./css/import.css);

body {
  font-family: "Roboto", sans-serif;
}

/* common css */
:root {
  --brand-color: #00c2ff;
}

.common-btn {
  background-color: var(--brand-color);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 30px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.common-title {
  font-weight: 700;
  font-size: 40px;
}
a {
  text-decoration: none;
}
